doctype html
html(ng-app="chatApp")
    head
        title nodejs-express-angular-socket-io

        base(href='/')

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

        script(src='/js/lib/angular.min.js')
        script(src='/js/lib/angular-animate.min.js')
        script(src='/js/lib/angular-aria.min.js')
        script(src='/js/lib/angular-cookies.min.js')
        script(src='/js/lib/angular-loader.min.js')
        script(src='/js/lib/angular-message-format.min.js')
        script(src='/js/lib/angular-messages.min.js')
        script(src='/js/lib/angular-parse-ext.min.js')
        script(src='/js/lib/angular-resource.min.js')
        script(src='/js/lib/angular-route.min.js')
        script(src='/js/lib/angular-sanitize.min.js')
        script(src='/js/lib/angular-touch.min.js')

        script(src='/socket.io/socket.io.js')

        script(src='/js/app.js')
        script(src='/js/controllers.js')
    body.container-fluid
        block content
