form.form-group.row(ng-submit='login()')
    .col-md-11
        input.form-control(ng-model='username', placeholder='Введите ваше имя')
    .col-md-1
        button.btn.btn-default.btn-block(type='submit') Войти